.ordem-compra {
  margin-top: 50px;
  margin-bottom: 100px;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid.ng-touched,
select.ng-valid.ng-touched {
  border: 1px solid green;
}
